form {
  display: flex;
  flex-direction: column;
}
input,
label {
  margin: 5px;
}
label {
  font-weight: 700;
}
input {
  height: 25px;
  border: 2px solid aqua;
}
button {
  margin: 20px;
  width: 120px;
  padding: 5px;
  font-size: 16px;
  background-color: rgb(57, 57, 255);
  color: white;
  font-weight: bold;
  border: opx;
}
